/* .Editor {
  margin-top: 20px;
  background-color: #ccff15;
} */

.editingAndImage{
    display: flex;
    align-items: center;
    margin: 10px;
}

/* .editingTools {
    border: 1px solid black;
} */

/* .slider {
  border: 1px solid blue;
} */

.imageOnly {
    width: 80%;
}

.editingButton {
  background-color: #447a81;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  margin: 5px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  font-size: 10px;
  transition: 0.5s linear ease-in-out;
}
.editingButton:hover {
  transform: translate(-2px, -2px);
  color: bisque;
  box-shadow: 5px 5.5px 2.5px rgb(80, 76, 76);
}

.Editor .submit-btn:hover {
  transform: translate(-2px, -2px);
  box-shadow: 5px 5.5px 2.5px rgb(80, 76, 76);
}
