.Editor {
    margin-top: 20px;
}

/* .Editor .submit-btn {
    background-color: #f7f7f7;
    border: none;
    border-radius: 6px;
    color: #292b2c;
    margin: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    transition: .5s linear ease-in-out;
} */

.Editor .submit-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5.5px 2.5px rgb(80, 76, 76);
}
